{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Project Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <!-- Other CSS files or inline styles -->
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/example">WebSocketExample</a>
    </nav>
    {% block content %}
    {% endblock %}
    <!-- Other content of the base template -->
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>